

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore node_modules for all projects
node_modules/

# Ignore build output for all projects
build/
/.pnp
.pnp.js

# Ignore test coverage for all projects
coverage/# dependencies

# Ignore various environment settings for all projects
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Ignore miscellaneous files for all projects
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
